<%-# Sign up view  -%>

<body class="bg">
  <div class="container">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-4 mt-sm-4">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-container"} ) do |f| %>
          <h3 class="text-style">Sign Up</h3>
            <div class="field form-group ">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "Email address", :class => "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", :class => "form-control" %>
              <% if @minimum_password_length %>
                <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
            </div>

            <div class="field form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "Password", :class => "form-control" %>
            </div>

            

            <div class="actions text-center">
              <%= hidden_field_tag :longitude, :id => "longitude", :value => params[:longitude]%>
              <%= hidden_field_tag :latitude, :id => "latitude", :value => params[:latitude]%>
              <%= f.submit "Sign up", :class=>"btn btn-primary"%>
              <br /><br />
              <%= render "devise/shared/links" %>
            </div>

            
        <% end %>
      </div>
    </div>
    
  </div>
</body>
