<p id="notice"><%= notice %></p>

<div class="row">
<% @shops.each do |shop| %>
  <div class="col-sm-3 nopadding mr-auto m-5 card" style="width: 18rem;">
    <%= link_to image_tag(shop.picture, width: "100%", height: "100%"),  :class => "img-fluid card-img-top"%>
    <div class="card-body">
      <h5 class="card-title"><%= shop.name %></h5>
      <h6 class="card-text"><%= shop.email %></h6>
      <h6 class="card-text"><%= shop.city %></h6>
    </div>
    <div class="card-body">
      <%= link_to 'Remove', remove_from_preferred_shops_path(:id => shop.id), :method => :post, :class => "card-link" %>
    </div>
  </div>
<% end %>
</div>

<br>