<p id="notice"><%= notice %></p>

<h1>Preferred Shops</h1>
<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.picture %></td>
        <td><%= shop.name %></td>
        <td><%= shop.email %></td>
        <td><%= shop.city %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Remove', remove_from_preferred_shops_path(:id => shop.id), :method => :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>