<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @shop.picture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
